{% extends 'base.html.twig' %}

{% block title %}Your cart{% endblock %}

{% block body %}
<div class="cart-wrapper">
    <h1>Your cart</h1>

    <ul>
    {% for item in cart.items %}
        <li>
            <h3>Product: {{ item.product.name }}</h3>
            <div>Quantity: {{ item.quantity }}</div>
            <div>Total: {{ cartManager.getCartItemTotal(item)|format_currency('EUR', locale='fr') }}</div>
        </li>
    {% endfor %}
    </ul>
    <h4>Total: 0</h4>
</div>
{% endblock %}
